body {
    font-family: "Rubik", sans-serif; /* Устанавливаем шрифт Rubik с запасным шрифтом sans-serif */
    background-color: #f4f4f4; /* Устанавливаем цвет фона для всего тела страницы */
    margin: 0; /* Убираем отступы вокруг тела страницы */
}

/* Основное  */
div.main {
    padding: 3%; /* Добавляем внутренние отступы (padding) в 3% для основного контейнера */
}

div.spacer {
    margin-top: 10px; /* Отступ сверху в 10 пикселей */
    border: 1px solid #007BFF; /* Устанавливаем границу синего цвета */
    margin-bottom: 40px; /* Отступ снизу в 40 пикселей */
}

/* Аватарка + псевдонимы */
.horizontal-layout {
    display: flex; /* Используем flexbox для горизонтального расположения элементов */
    justify-content: flex-start; /* Выравнивание элементов по началу контейнера */
    align-items: center; /* Выравнивание элементов по центру по вертикали */
    gap: 20px; /* Отступ между элементами (по желанию) */
}

.avatar {
    width: 150px; /* Ширина аватарки 150 пикселей */
    height: 150px; /* Высота аватарки 150 пикселей */
    border-radius: 20%; /* Закругляем углы аватарки на 20% */
    border: 2px solid #007BFF; /* Устанавливаем границу шириной 2 пикселя синего цвета */
    margin-bottom: 20px; /* Отступ снизу в 20 пикселей */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Добавляем тень к аватарке для эффекта глубины */
}

p.names {
    margin-top: 1.5%; /* Отступ сверху в 1.5% для параграфа с именами */
    margin-left: 2%; /* Отступ слева в 2% для параграфа с именами */
}

/* Основное оформление заголовков и текста */
h1 {
    font-size: 2em; /* Размер шрифта заголовка первого уровня (h1) - 2em */
    margin: 0; /* Убираем отступы у заголовка h1 */
}

h2 {
    font-size: 1.5em; /* Размер шрифта заголовка второго уровня (h2) - 1.5em */
    color: #555; /* Цвет текста заголовка h2 - серый (#555) */
}

p {
    margin: 0; /* Убираем отступы у параграфов (p) */
    line-height: 20px; /* Высота строки для параграфов - 20 пикселей */
}

/* Стилизация ссылок на социальные сети */
.social-links {
    display: flex; /* Используем flexbox для расположения ссылок на социальные сети */
    justify-content: center; /* Центрируем ссылки по горизонтали */
    align-items: center; /* Центрируем ссылки по вертикали */
    margin-left: 0; /* Убираем левый отступ у контейнера ссылок на соцсети */
    margin-top: 70%; /* Отступ сверху в 70% для контейнера ссылок на соцсети */
    background: grey; /* Фоновый цвет серый для контейнера ссылок на соцсети */
    padding: 40px; /* Внутренние отступы (padding) в контейнере ссылок - 40 пикселей */
}

.social-links a {
    display: flex; /* Используем flexbox для расположения элементов внутри ссылки */
    align-items: center; /* Центрируем элементы внутри ссылки по вертикали */
    margin-right: 6%; /* Отступ справа между ссылками - 6% */
    text-decoration: none; /* Убираем подчеркивание у текста ссылки */
    color: black; /* Цвет текста ссылки - черный */
}

img.link {
    width: 25px; /* Ширина изображения внутри ссылки - 25 пикселей */
    margin-right: 5px; /* Отступ справа у изображения - 5 пикселей */
}