body {
    font-family: "Rubik", sans-serif; 
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}
/* Аватарка + псевдонимы */
.horizontal-layout {
    display: flex; /* Используем flexbox для горизонтального расположения */
    justify-content: flex-start; /* Выравнивание элементов по началу контейнера */
    align-items: center; /* Выравнивание элементов по центру по вертикали */
    gap: 10px; /* Отступ между элементами (по желанию) */
}
.avatar {
    width: 150px;
    height: 150px;
    border-radius: 20%;
    border: 2px solid #007BFF;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
p.names {
    margin-top: 1.5%; 
    margin-left: 2%;
}
/* Основное */
h1 {
    font-size: 2em;
    margin: 0;
}
h2 {
    font-size: 1.5em;
    color: #555;
}

/* Ссылки */
.social-links a {
    margin-right: 15px;
    text-decoration: none;
    color: #007BFF;
    padding: 4px;
    background-color: white;
    border-radius: 4px;
    border: 2px solid #007BFF;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}